font = 'Titillium Web', sans-serif

body.zp
  background url('../images/bg.jpg') no-repeat bottom  center
  background-color #55CCE2

.topo
    background-color white
    .nav-topo
        font-family  font
        border-radius  0
        .link-destaque
          text-transform  uppercase
          color #ffd300
          font-weight  bold
          font-size  15px

    .propaganda
        padding-top  10px
        margin-bottom 10px
        height  100px
        img
          width 100%

    .titulo
        font-family  font
        font-weight  bold
        font-size 19px
        text-transform  uppercase
    .logo
      img
        width 100%

    .aprovados
        font-family  font
        margin-top  10px
        .box-num-aprovados
            background-color  #ffd300
            color white
            font-size  25px
            line-height  25px
            font-weight  bold
            text-align  center
            border-radius  6px
            box-shadow  0 5px 0 #ffe700
            padding  20px 30px
            margin-top  20px
            cursor  pointer
            &:hover
                margin-top  22px
                box-shadow  0 3px 0 #ffe700


        .titulo-data
            .data
                font-weight  bold
                font-size  25px
                color #ffd300

    .redes-sociais
        a
          text-decoration  none



    .menu-categorias
      font-family  font
      font-size  15px
      font-weight  bold
      text-transform  uppercase
      background-color  #ffd300
      box-shadow  0px 5px 0px #ffe700 inset
      border-radius  0
      margin-bottom 0
      ul
        li
          &:hover
           background-color #ffe700
          a
            padding 35px 35px 15px 30px
            color #333
            height  85px

.conteudo-principal
  border  1px solid #f6f6f6
  font-family  font
  margin-bottom  20px
  border-bottom  1px solid #ffe700
  background-color  white
  padding  20px
  box-sizing  border-box
  box-shadow 1px 2px 3px rgba(0,0,0,0.2)

#sidebar
  background-color  white
  box-shadow  1px 2px 3px rgba(0,0,0,0.2)
  padding  20px


.box-post
  border  1px solid #f6f6f6
  font-family  font
  margin-bottom  20px
  border-bottom  1px solid #ffe700
  background-color  white
  padding  20px
  box-sizing  border-box
  box-shadow 1px 2px 3px rgba(0,0,0,0.2)
  .image
    display  inline-block
    width  100%
    overflow  hidden
    position relative
    text-align  center
    height  250px
    .cliques
        font-size  19px
        line-height  15px
        width  100px
        display  inline-block
        bottom  0
        padding 10px
        color #ffd300
        font-weight  bold
        background-color  rgba(0,0,0,0.5)
        text-align  center
        small
            color #fff
      img
          width  100%
          position  absolute
          left  0
          top  0
          z-index  -1

    .post-conteudo
      img, video
        width 100%
        border 1px solid #f6f6f6
        padding 5px
        border-radius 5px
        box-shadow 2px 2px 2px rgba(0,0,0,0.2)

    .titulo-descricao
        .categoria-post
            display  inline-block
            width  100%
            color #ffd300
            font-size  20px
            text-align  center
            font-weight  bold
            text-decoration  none
             hover
                color #ffe700



        .titulo-post
            display  inline-block
            width  100%
            color #333
            text-align  center
            text-decoration none
            h1
                font-size  40px




    .redes-sociais-compartilhar
        text-align  center
        margin 20px 0
        a
            text-decoration  none
            img
                width  25px





.rodape
    background-color  #333
    color #e5e5e5
    text-align  center
    padding 20px


.navbar-toggle
    padding  27px 10px!important
    border none


.navbar-default .navbar-toggle .icon-bar
    background-color  #333
