extends layout

block mainContent
    div.container
      div.row
        div.12u
          h1(style="font-size:3em; line-height:1em") Ahhhhhhhhhhh não tem nenhum post aqui....
          p Não se desespere 
            a(href="/", style="color:black") clique aqui para voltar para página inicial
          <iframe src="http://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&amp;rel=0&amp;showinfo=0&amp;controls=0&amp;iv_load_policy=3&amp;loop=1&amp;playlist=SIaFtAKnqBU&amp;modestbranding=1&amp;autoplay=1" frameborder="0" webkitallowfullscreen="" allowfullscreen="" id="fitvid808420" width="100%" height="680px"></iframe>
            
