doctype xml
rss(version='2.0', xmlns:atom='<a href="http://www.w3.org/2005/Atom" rel="nofollow">http://www.w3.org/2005/Atom</a>')
    channel
        title zoidepomba.com.br
        link <a href="http://zoidepomba.com.br" rel="nofollow">http://zoidepomba.com.br</a>
        atom:link(href='<a href="http://zoidepomba.com.br/feed/rss" rel="nofollow">http://zoidepomba.com.br/feed/rss</a>', rel='self', type='application/rss+xml')
        description Developers talking about stuff that developers like to talk about.
        language pt-br        
        each post in posts
            item
                title= post.title
                link <a href="http://zoidepomba.com.br/#{post.permlink}" rel="nofollow">http://zoidepomba.com.br/#{post.permalink}</a>
                description= post.excerpt