doctype html
html(lang="pt-br")
	head
		title Zoidepomba.com.br - #{title}			
		meta(http-equiv='content-type',content='text/html; charset=utf-8')
		meta(name='description', content='')
		meta(name='keywords',content='')
		
		link(rel="stylesheet", href="/css/animate.css")
		
		script(src='/js/jquery.min.js')
		script(src='/js/jquery.dropotron.min.js')
		script(src='/js/skel.min.js')
		script(src='/js/skel-layers.min.js')
		script(src='/js/init.js')
		
		noscript
			link(rel='stylesheet', href='/css/skel.css')
			link(rel='stylesheet', href='/css/style.css')
			link(rel='stylesheet', href='/css/style-desktop.css')

body.homepage
		#header-wrapper
			#header
				.container
					.row
						.6u							
							h1
								a(href="/")
									img(src="/images/logo-horizontal.png", alt="Zoidepomba - Voltar página inicial")
						.6u
							a.propaganda(href='http://www.vitrinepix.com.br/zoidepomba/', target='_blank', data-banner-posicao='banner-anuncio-topo', data-cliente='CamisetasZoidepomba', title='Novas camisetas do Zoidepomba, compre já a sua!!')
								img(alt='Novas camisetas do Zoidepomba, compre já a sua!!', title='Novas camisetas do Zoidepomba, compre já a sua!!', src='http://ad.zoidepomba.com.br/banner_728_novas-camisetas.gif')
				nav#nav
					ul
						li.current
							a(href="/") HOME
						li
							a(href="/categoria/videos") VÍDEOS
						li
							a(href="/categoria/wtf") WTF
						li
							a(href="/categoria/lol") LOL
						li
							a(href="/categoria/nsfw") NSFW
						li
							a(href="/assine") ASSINE
						li
							a(href="http://www.vitrinepix.com.br/zoidepomba", target='_blank', alt='Camisetas ') CAMISETAS
						li
							a(href="/contato") CONTATO
						//li
						//	input(type="text", name="buscar", placeholder="Busque aqui...")
				
				block bannerContent

		div#main-wrapper			
			block mainContent			
		div#footer-wrapper
			section#footer.container
				div.row
					div.8u
						section
							header
								h2 Parceiros :)
							a(href="http://www.betolinks.com.br/",target="_blank").parceiro
								img(src="http://betolinks.com.br/arquivos_upload/selos/6.jpg", alt="")
							a(href="http://mestrecharlieharper.com.br/",target="_blank").parceiro
								img(src="http://mestrecharlieharper.com.br/arquivos_upload/selos/13.jpg", alt="")
							a(href="http://www.colmeia.blog.br/",target="_blank").parceiro
								img(src="http://img.colmeia.blog.br/ColmeiaAnimated_120x60.gif", alt="")
							a(href="http://www.vidadeprogramador.com.br/",target="_blank").parceiro
								img(src="http://ad.zoidepomba.com.br/vp120x60.png", alt="")
							a(href="http://www.fronteirasemfim.com.br/",target="_blank").parceiro
								img(src="http://ad.zoidepomba.com.br/fsf120x60.png", alt="")
							a(href="http://www.titangames.com.br/",target="_blank").parceiro
								img(src="http://www.titangames.com.br/wp-content/uploads/2011/02/titanbanner120x60.jpg", alt="")
							a(href="http://www.bemhumorado.com.br/",target="_blank").parceiro
								img(src="http://2.bp.blogspot.com/-d9ZZfP2n35E/USNgy6btOaI/AAAAAAAALEQ/dUCip9K7yO0/s1600/120X60.png", alt="")
							a(href="http://www.ahnegao.com.br/",target="_blank").parceiro
								img(src="http://www.ahnegao.com.br/banners/120x60.png", alt="")
							a(href="http://gatovadioblog.blogspot.com/",target="_blank").parceiro
								img(src="http://2.bp.blogspot.com/-XLAUzPJ1m98/Ugl4zgL2TOI/AAAAAAAAKZ8/pcqxFR2FqBU/s1600/120x60.png", alt="")
							a(href="http://aglomerando.com.br/",target="_blank").parceiro
								img(src="http://www.aglomerando.com.br/images/120x60.gif", alt="")
							a(href="http://www.linkado.blog.br/",target="_blank").parceiro
								img(src="http://linkado.blog.br/banners/lkd120x60.jpg", alt="")
							a(href="http://www.atoananet.com.br/",target="_blank").parceiro
								img(src="http://www.atoananet.com.br/uploads/120x60.gif", alt="")
							a(href="http://www.linkirado.net/",target="_blank").parceiro
								img(src="http://www.linkirado.net/banners/12060.png", alt="")
							a(href="http://www.eutesalvo.com/",target="_blank").parceiro
								img(src="http://www.eutesalvo.com/arquivos/banners/8a2ad0216d7d5c58316626cb0b3609cb.png", alt="")
					div.4u
						section
							header
								h2 Redes sociais
							ul.social
								li
									a(href="http://www.facebook.com/Zoidepomba", target="_blank").icon.fa-facebook
										spam.label Facebook
								li
									a(href="http://www.twitter.com/ZoidepombaReal", target="_blank").icon.fa-twitter
										spam.label Twitter
				.row
					.12u
						// Copyright
						#copyright
							ul.links
								li &copy; Zoidepomba.com.br. Todos os direitos reservados.
								li Baseado em um dos temas 
									a(href='http://html5up.net') HTML5 UP
								li Totalmente concebido com JS ♥
