extends layout

block mainContent
    div.container
      //sidebar
      div.row        
        div.8u.important(collapse)
          article.box.post          
            if(image)
              a(href="").image.featured              
                img(src=image, alt=title)              
            header
              h2=title
              =excerpt
            !=content
              
        div.4u
          section.box.sidebar            
            header
              h3 Parcerias e jabas
            a(href="http://www.vitrinepix.com.br/zoidepomba", target="_blank")
              img(src="http://ad.zoidepomba.com.br/banner-novas-camisetas.gif", alt="Camisetas Zoidepomba")
            a(href="http://www.linkirado.net/", target="_blank")
              img(src="http://www.linkirado.net/banners/arrobabanner_parceria.jpg", alt="Linkirado")
            a(href="http://www.aglomerando.com.br/", target="_blank")
              img(src="http://www.aglomerando.com.br/images/250.jpg", alt="Aglomerando")
          section.box.sidebar
            header
              h3 Publicidade
            a(href="http://www.meliuz.com.br/ref_lcomino3d", target="_blank")
              img(src="http://www.meliuz.com.br/arquivos/banners_blog/250x250.png", alt="Meliuz")            
            script(type='text/javascript').
              bb_bid = "1619206";
              bb_lang = "pt-BR";
              bb_name = "custom";
              bb_limit = "4";
              bb_format = "bbm";
            script(type='text/javascript', src='http://static.boo-box.com/javascripts/embed.js')

            //footer
              //a.button.alt(href='#') Magna sed taciti
